################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WEBAPIGMINGENIEROSHTTPS/appsettings.json
/WEBAPIGMINGENIEROSHTTPS/Controllers/AccesoController.cs
/WEBAPIGMINGENIEROSHTTPS/Program.cs
/.vs/WEBAPIGMINGENIEROSHTTPS/FileContentIndex/3257d1c8-2a22-4062-a21d-1c3294f6d87f.vsidx
/WEBAPIGMINGENIEROSHTTPS/Program.cs
/WEBAPIGMINGENIEROSHTTPS/WeatherForecast.cs
/WEBAPIGMINGENIEROSHTTPS/Controllers/AccesoController.cs
/.vs/
/bin/
WEBAPIGMINGENIEROSHTTPS/obj/
/.config/

/WEBAPIGMINGENIEROSHTTPS/Controllers/AccesoController.cs
/WEBAPIGMINGENIEROSHTTPS/Program.cs
/WEBAPIGMINGENIEROSHTTPS/appsettings.json
