################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WEBAPIGMINGENIEROSHTTPS/appsettings.json
/WEBAPIGMINGENIEROSHTTPS/Controllers/AccesoController.cs
/WEBAPIGMINGENIEROSHTTPS/Program.cs
